body {
    background-color: #C7C1DB;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

/* Header 文字淡入動畫 */
.header h1 {
    color: #36344F;
    float: left;
    margin-left: 100px;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    text-align: right;

    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #36344F;
    opacity: 0.1;
    position: absolute;
    margin-left: 100px;
    top: 535px;
    bottom: 0px
}

/* Header 照片淡入動畫 */
.header img {
    width: 50%;
    padding: 20px;
    float: right;
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav {
    position: fixed;
    bottom: 10px;
    margin-left: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #E5CAD4;
    opacity: 0.8;
    border-radius: 50px;
    z-index: 1;
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

main {
    margin: 0px;
}

article {
    float: left;
}

.txt {
    background-color: white;
    padding: 30px;
    margin: 0px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
}

h2:hover {
    color: #7092F1;
}

.coverflow {
    float: left;
    margin-left: 85px;
    padding: 20px;
    width: 400px;
    height: 300px;
    position: relative;
}

/* About me 照片輪流播放動畫*/
.coverflow>a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: silder 15s linear infinite;
    animation: silder 15s linear infinite;
}

.coverflow>a>img {
    max-width: 100%;
}

@-webkit-keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.coverflow>a:nth-child(3) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.coverflow>a:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.coverflow>a:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.coverflow:hover>a {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.div2 {
    margin-left: 35%;
    padding: 30px;
    line-height: 50px;
    border-width: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

.array {
    background-color: #F0EEFA;
    border-radius: 40px 10px;
    font-family: 微軟正黑體;
    font-size: 25px;
    line-height: 90px;
    font-weight: bold;
}

.listSkill {
    display: flex;
    flex-wrap: wrap;
}

.listSkill li {
    width: 30%;
    padding: 15px;
    margin-left: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: #C5B7F6;
}

.circle::after {
    content: "";
    display: block;
    background-color: #F0EEFA;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.p90,
.p180,
.p270,
.p360 {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4440B3;
}

.p180 {
    top: 50%;
}

.p270 {
    top: 50%;
    left: 0;
}

.p360 {
    top: 0;
    left: 0;
}

.progress {
    display: flex;
    flex-wrap: wrap;
}

.progress .bar {
    width: 200px;
    height: 15px;
    border: solid 3px #4440B3;
    border-radius: 6px
}

.progress li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: 180px;
}

.value {
    height: 120%;
    width: 70%;
    background-color: #4440B3;
}

.value.p10 {
    width: 10%;
}

.value.p20 {
    width: 20%;
}

.value.p30 {
    width: 30%;
}

.value.p40 {
    width: 40%;
}

.value.p50 {
    width: 50%;
}

.value.p60 {
    width: 60%;
}

.value.p70 {
    width: 70%;
}

.value.p80 {
    width: 80%;
}

.value.p90 {
    width: 90%;
}

.value.p100 {
    width: 100%;
}

.index {
    display: flex;
}

.index-item {
    width: 100%;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}

.index-time {
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: #363062;
}

.index-txt {
    width: 90%;
    margin: auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: 微軟正黑體;
    font-weight: bolder;
    color: #363062;
    display: flex;
    flex-wrap: wrap;
}

.index-txt>h3 {
    text-align: center;
}

/*滑入圖片放大*/
.index-img {
    border-radius: 30px;
    overflow: hidden;
}

.index-img img {
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.index-img img:hover {
    transform: scale(1.2, 1.2);
}

.contact {
    display: flex;
}

.contact-img {
    margin: 20px;
    margin-left: 250px;
    padding: 10px;
    width: 50%;
}

.contact-txt {
    width: 50%;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    line-height: 70px;
    color: #5D4131;
}

.contact-txt a {
    text-decoration: none;
    color: #5D4131;
}

.contact-txt a:hover {
    color: #C4BAB7;
}

.icon img {
    width: 6%;
    height: auto;
    margin: 10px;
}